<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.maven.onlineexamdemo.mapper.ConditionMapper">
    <select id="list" resultType="com.panda.maven.onlineexamdemo.dto.ConditionDto">
        select * from exam_condition where role = 'student'
    </select>
    <select id="listByCondition" resultType="com.panda.maven.onlineexamdemo.dto.ConditionDto">
        select * from user
        <where>
            role = 'student'
                 <if test="request.name != null and request.name != ''">
                     and name = like concat('%',#{request.name},'%')
                 </if>
                <if test="request.username != null and request.username != ''">
                     and username = like concat('%',#{request.username},'%')
                 </if>
        </where>
    </select>
    <select id="selectByUserName" resultType="com.panda.maven.onlineexamdemo.entity.Condition">
        select * from exam_condition where username = #{username} and subject = #{courseName} order by id desc
    </select>
</mapper>