<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.maven.onlineexamdemo.mapper.ExamMapper">
    <insert id="addQues">
        insert into exam (type,content,options,answer,score,subject)
        values (#{type},#{content},#{options},#{answer},#{score},#{subject})
    </insert>
    <update id="update">
        update exam set type = #{type},content = #{content},options = #{options},answer = #{answer},score =#{score},subject = #{subject} where question_id = #{questionId}
    </update>
    <delete id="deleteById">
        delete from exam where question_id = #{id}
    </delete>
    <select id="getByCourseName" resultType="com.panda.maven.onlineexamdemo.entity.Exam">
        select * from exam where subject = #{courseName}
    </select>
    <select id="getBySubject" resultType="com.panda.maven.onlineexamdemo.entity.Course">
        select * from course where course_name = #{subject}
    </select>
    <select id="getById" resultType="com.panda.maven.onlineexamdemo.entity.Exam">
        select * from exam where question_id = #{id}
    </select>
    <select id="listByCondition" resultType="com.panda.maven.onlineexamdemo.entity.Exam">
        select * from exam
        <where>
            course_name = #{subject}
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="type != null and type != ''">
                and type like concat('%',#{type},'%')
            </if>
        </where>
        order by question_id desc
    </select>
</mapper>